# ~/.config/chezmoi/chezmoi.toml
{{- $name := promptStringOnce . "name" "Your name" "daniel" }}
{{- $email := promptStringOnce . "email" "Email address" "daniel123.xiang@gmail.com" -}}

# Enable age encryption
encryption = "age"

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[age]
    # Private key file location (for decryption)
    identity = "~/.config/chezmoi/key.txt"

    # Public key (for encryption)
    # Replace with your age1... public key
    recipient = "age1y284j8m6egd4ft55qxna9t0g747htddwepxqhhtfgq7hczq5tvtqwkvt4s"

    # Automatically recognize .age suffix as encrypted files
    suffix = ".age"
