{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-01-22T05:28:34.365Z"
  },
  "claude-hud": {
    "source": {
      "source": "github",
      "repo": "jarrodwatts/claude-hud"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-hud",
    "lastUpdated": "2026-01-22T04:10:16.997Z"
  }
}
